*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: lightskyblue;
}

/* main{
    background-color: blue;
    height: 2000px;
} */

/* valori flex */
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.vertical-gap{
    gap: 20px;
}
.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.align-self{
    align-self: center;
}
.align-center{
    align-items: center;
}

.btn-white{
    color: white;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 120%;
}

.font-size-2em{
    font-size: 2em;
}

.padding-30{
    padding-top: 20px;
    padding-bottom: 20px;
}

.background-white{
    background-color: white;
}

.background-blue{
    background-color: lightskyblue;
}

.padding-top-50{
    padding-top: 50px;
}

.display-block{
    display: block;
}
.phone-photo{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.padding-card-1-30{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.padding-all-30{
    padding: 30px;
}

.padding-right-5px{
    padding-right: 5px;
}

.padding-bot-100{
    padding-bottom: 100px;
}

.border-radius{
    border-radius: 25px;
}

.color-blue{
    color: blue;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.text-d-none{
    text-decoration: none;
}

.color-white{
    color: white;
}

.text-align-center{
    text-align: center;
}

#apple-store{
    width: 60%; height: 2.2em;
    margin-left: auto; margin-right: auto;
    background-color: blue;
}


p{
    line-height: 1.6;
}

.i-blue{
    color: blue;
    font-size: 6em;
}
.padding-bot-30{
    padding-bottom: 30px;
}

/* sezione 2 (sfondo lilla) */

.background-purple{
    background-color: lightcoral;
}

/* .container-foto-sz2{

} */

.btn-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



.italique{
    font-style: italic;
}

.width-100{
    width: 100%;
}

.card-testimonials{
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#testimonial-1{
    background-image: url("../img//testimonial1.jpg");
}
#testimonial-2{
    background-image: url("../img//testimonial2.jpg");
}
#testimonial-3{
    background-image: url("../img//testimonial3.jpg");
}
